@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap');

*{
  font-family: 'Baloo 2', cursive;
  margin: 0;padding: 0;
  box-sizing: border-box;
  color: inherit;
}
.mobile{
  display: none !important;
}
.pc{
  display: flex !important;
}
.header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 720px;
  /*background: linear-gradient(90deg, #614385, #4e4376);*/
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}
.header .nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  color: white;
}
.header .nav .container{
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .part{
  justify-content: center;
  align-items: center;
}
.header .nav .part .link{
  padding: 0.2rem 1rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  transition: 250ms color;
  display: flex;
  justify-content: center;align-items: center;
  text-decoration: none;
}
.header .nav .part .link:hover{
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.header .nav .part a.btn{
  color: white !important;
  background: white;
  transition: 250ms background;
  background: #00ba94;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.header .nav .part i{
  font-size: 0.5rem;
  margin-left: 5px;
}
.header .nav .part a.btn:hover{
  cursor: pointer;
  background: #008f72;
}
.header .head{
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  color: white;
  position: relative;
}
.header .head .container{
  display: flex;
  width: 1100px;
  color: white;
  position: relative;
}
.header .head .dropdown{
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  z-index: 5;
  background: linear-gradient(90deg, #1f2d41 , #1f2d41);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .head .dropdown .container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  width: 80%;
}
.header .head .dropdown .container .link{
  padding: 0.5rem 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .head .dropdown .container .link i{
  color: rgba(255, 255, 255, 0.5);
}
.header .head .dropdown .container a.btn{
  color: white !important;
  font-size: 1rem;
  transition: 250ms background;
  background: #00ba94;
  border-radius: 50px;
  padding:  0.5rem 1rem;
  text-transform: uppercase;
  justify-content: center !important;
  font-weight: thin;
}
.header .head .dropdown .container a.btn i{
  color: white;
  margin-left: 5px;
}
.header .head .dropdown .container a.btn:hover{
  cursor: pointer;
  background: #008f72;
}
.header .head .container .part h1{
  font-size: 2.5rem;
}
.header .head .container .part h2 {
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5) !important;
  width: 80%;
}
.header .head .container .part h2 .light{
  color: white !important;
}
.header .head .container .part h2 .selector{
  background: #ed4840;
  color:white;
  padding: 0 .5rem;
}
.header .head .container .part{
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header .head .container .part:last-child{
  align-items: flex-end;
}
.header .head .container .part .btns{
  width: 100%;
  display: flex;
  margin-top: 1.5rem;

}
.header .head .container .part .btns .btn-head{
  background: #00ba94;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  margin-right: 5px;
  transition: 250ms background;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .5px
}
.header .head .container .part .btns .btn-head:hover{
  background: #008f72;
  cursor: pointer;
}
.header .head .container .part .btns .btn-head2{
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 400;
  border-radius: 50px;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header .head .container .part .btns .btn-head2:hover{
  text-decoration: underline;
  color: #ececec;
  cursor: pointer;
}
.header .head .container .part img{
  width: 500px;
}

.header .svg{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}

.about{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  padding: 4rem 0;
  position: relative;
}
.about svg{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}
.about .container{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .container .part{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
}
.about .container .part img{
  transform: rotateY(30deg) rotateX(15deg);
  border-radius: 0.5rem !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  width: 400px;
  margin-bottom: 10px;
}
.about .container .part .header-card{
  display: flex;
  flex-direction: column;
}
.about .container .part .header-card h4{
  font-size: 1.8rem;
  font-weight: normal;
  color: #323f52;
}
.about .container .part .header-card h5{
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
  color: #687281;
}
.about .container .part .body-card{
  padding-top: 2rem;
  flex: 1;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
}
.about .container .part .body-card .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .container .part .body-card .row .paragraph{
  flex: 1;
}
.about .container .part .body-card .row .paragraph:first-child{
  margin-right: .5rem;
}
.about .container .part .body-card .row .paragraph:last-child{
  margin-left: .5rem;
}
.about .container .part .body-card .row h6{
  font-size: 1.2rem;
  font-weight: normal;
  color: #323f52;
}
.about .container .part .body-card .row p{
  color: #687281;
  text-align: justify;
}
.about .container .part .body-card .row a{
  color: #0061f2;
  text-decoration: none;
}
.about .container .part .body-card .row i{
  font-size: 0.8rem;
}
.about .container .part .body-card .row a:hover{
  text-decoration: underline;
}

.websites{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  padding: 4rem 0;
  background: #eff3f9;
  position: relative;
}
.websites svg{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}
.websites .container{
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.websites .container .header-card{
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
}
.websites .container .header-card h4{
  color: #323f52;
  font-size: 2rem;
  font-weight: normal;
}
.websites .container .header-card h5{
  color: #687281;
  max-width: 700px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
}
.websites .container .content-card{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}
.websites .container .content-card .row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.websites .container .content-card .row .website{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
}
.websites .container .content-card .row .website p{
  color: #323f52;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.websites .container .content-card .row .website img{
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
  transition: 250ms box-shadow ease, 250ms transform ease-out;
}
.websites .container .content-card .row .website img:hover{
  cursor: pointer;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.4);
  transform: translateY(-5px);
}
.websites .container .content-card .row .website .big-text{
  font-size: 7rem;
  font-weight: 700;
  color: #c5ccd6 !important;
  line-height: 0.8;
}
.websites .container .content-card .row .website .title{
  color: #323f52;
  font-size: 1.3rem;
  font-weight: normal;
}
.websites .container .content-card .row .website .subtitle{
  color: #687281;
  text-align: justify;
  text-align-last: center;
  line-height: 1.2;
}

.footer{
  display: flex;justify-content: center;align-items: center;
  width: 100%;
  background: #1f2d41;
  padding: 4rem 0;
}
.footer .container{
  width: 1100px;
  display: flex;justify-content: center;align-items: center;flex-direction: column;
  color: white;
}
.footer .container .top{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .container .top .col{
  display: flex;
  justify-content: center;align-items: flex-start;
  flex-direction: column;
}

.footer .container .top h4{
  font-size: 1.5rem;
  color:#a2acba;
  transition: 100ms color, 100ms text-decoration ease-out;
}
.footer .container .top h4:hover{
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
.footer .container .top p{
  font-size: 1rem;
  color:#a2acba;
  transition: 100ms color;
}
.footer .container .top p:hover{
  color: white;
  cursor: pointer;
}
.footer .container .top img{
  width: 40px;
}
.footer .container .hr{
  width: 100%;
  height: 2px;
  background: linear-gradient(transparent, #a2acba, transparent);
  margin: 1rem 0;
}
.footer .container .bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;align-items: center;
}

.auth-form{
  width: 100%;
  display: flex;
  justify-content: center;align-items: center;
  padding: 4rem 0;
  flex-direction: column;
  position: relative;
}
.auth-form svg{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}
.auth-form .container{
  width: 1100px;
  display: flex;
  background: #eff3f9;
  justify-content: center;align-items: center;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  padding: 2rem 0;
}
.auth-form .container h4{
  font-size: 1.8rem;
  font-weight: normal;
  color: #323f52;
  padding: 2rem;
}
.auth-form .container .part{
  flex: 1;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
}
.auth-form .container .part form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.auth-form .container .part form input{
  border: none;outline: none;
  width: 100%;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 40px;
}
.auth-form .container .part form button{
  border: none;outline: none;
  width: 100%;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 40px;
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.auth-form .container .part form .error{
  width: 100%;
  background: #00ba94;
  padding: 0.5rem;
  border-radius: 4px;
  color: white;
  font-size: 0.9rem;
}

.transition{
   z-index:-100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 0;
  top: 0;bottom: 0;left: 0;right: 0;
  position: fixed;
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  margin: auto;
  animation-duration: 10s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  color: white;
  z-index: 10;
}
@keyframes slidein {
  0%{
     z-index:100;
    height: 0;
  }
  60%{
    z-index:100;
    height: 100vh;
  }
  90%{
    opacity: 1;
  }
  95%{
    opacity: 0.1;

  }
  99%{
    z-index:100;
  }
  100%{
    z-index: -100;
     opacity: 0;
    display:none;
    height: 0;
  }
}

.transition img{
  width: 300px;
}
.transition .wave{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
}
.transition .wave:first-child svg{
  position: absolute;
  top: -40px;
  left:0;right:0;
  width: 100%;
}
.transition:before{
  content:'';
  position: absolute;
  top: -51rem;
  left:0;right:0;
  width: 100%;
  height:50rem;
  background:white;
}
.transition .wave svg{
  position: absolute;
  bottom: -100px;
  left:0;right:0;
  width: 100%;
}

.transition:after{
  content:'';
  position: absolute;
  bottom: -51rem;
  left:0;right:0;
  width: 100%;
  height:50rem;
  background:white;
}

.dashboard{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard .nav{
  position: sticky;
  z-index: 5;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 0.15rem 1.75rem -2px rgba(31, 45, 65, 0.15);
}
.dashboard .nav .part{
  padding: 0.2rem 0.7rem;
  margin: 0.3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .nav .part p, .dashboard .nav .part i{
  margin: 0 1rem;
  color: rgba(31, 45, 65, 0.5);
  transition: 250ms color;
}
.dashboard .nav .part p, .dashboard .nav .part i:hover{
  color: #687281;
  cursor: pointer;
}

.dashboard .nav h1{
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .nav span{
  font-size: 0.7rem;
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  color: white;
  border-radius: 6px;
  padding: 0 0.5rem;
  margin-left: 4px;
  letter-spacing: 0.7px;
}
.dashboard .nav img{
  border-radius: 100%;
  height:40px;
  object-fit: cover;
}
.dashboard .content{
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.dashboard .content .left{
  width: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background: white;
  flex-direction: column;
  padding: 1rem;
}
.dashboard .content .left .part{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  margin: 1rem 0;
}
.dashboard .content .left .part .in{
  margin-left:1.5rem;
}
.dashboard .content .left .part h4{
  color: #a7aeb8;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.dashboard .content .left .part a{
  color: black;
  transition: 250ms color;
  font-size: 1rem;
  margin: 0.3rem 0;
}
.dashboard .content .left .part p{
  color: black;
  transition: 250ms color;
  font-size: 1rem;
  margin: 0.3rem 0;
}
.dashboard .content .left .part i{
  width: 25px;
  color: #a7aeb8;
}
.dashboard .content .left .part a:hover, .dashboard .content .left .part p:hover{
  color: #0061f2;
  cursor: pointer;
  text-decoration: none;
}
.dashboard .content .right{
  display: flex;
  justify-content: flex-start;align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.dashboard .content .right .banner{

  width: 100%;
  color: white;
  padding: 3rem 2rem 6rem 2rem;
  height: 250px;
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}
.dashboard .content .right .banner h1{
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 0.3rem;
}
.dashboard .content .right .banner i{
  color: hsla(0,0%,100%,.5);
}
.dashboard .content .right .banner p{
  color: hsla(0,0%,100%,.5);
  font-size: 1.3rem;
}
.dashboard .content .right .banner h1 span{
  font-size: 0.8rem;
  background: white;
  color: black;
  border-radius: 5px;
  padding: 0 0.2rem;
}
.dashboard .content .right .panel{
  transform: translateY(-10vh);
  height: 250px;
  width: 100%;
  display: flex;justify-content: flex-start;align-items: center;
  flex-direction: column;
}
.dashboard .content .right .panel .parti{
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
  width: 100%;
}
.dashboard .content .right .infos{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.dashboard .content .right .infos .form{
  width: 98%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
padding: 1rem;
}
.dashboard .content .right .infos .form h4{
  font-size: 2rem;
  font-weight: normal;
}
.dashboard .content .right .infos .form input{
  width: 500px;
  padding: 0.7rem;
  border: none;
  border-radius: 15px;
  background: #ececec;
  margin: 1rem 0;
  outline: none;

}
.dashboard .content .right .infos .form select{
  width: 500px;
  padding: 0.7rem;
  border: none;
  border-radius: 15px;
  background: #ececec;
  margin: 1rem 0;
  outline: none;
}
.dashboard .content .right .infos .form select:first-child{color: grey;}
.dashboard .content .right .infos .form button{
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  width: 500px;
  padding: .7rem;
  color: white;border:none;
  border-radius: 15px;
  margin: 1rem 0;
  outline: none;

}
.dashboard .content .right .infos .panel-s{
  width: 48%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
}
.dashboard .content .right .infos .panel-s .chart{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}
.dashboard .content .right .infos .panel-s .chart .chart-div{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex:1;
}
.dashboard .content .right .infos .panel-s .chart .chart-div *{
  text-align: left;
  width: 100%;
}
.dashboard .content .right .infos .panel-s .chart .chart-div ul li{
  margin-left: 50px;
}
.dashboard .content .right .infos .panel-s .chart p{
  color: #0061f2;
  width: 100%;
  padding: 1rem;
  background: #f7f7f7;
  border-radius: 5px;
}
.dashboard .content .right .infos .panel-s .chart .chart-div p{
  background: white;
  padding: 0rem 0rem;
  color: rgba(0,0,0,0.7);
  margin: 0 1rem;
  text-align: justify;
}
.dashboard .content .right .infos .panel-s .chart .chart-div i{
  padding: 0.5rem 0;
}
.dashboard .content .right .infos .panel-s .chart .chart-div img{
  width: 40px;
  border-radius: 100%;
}
.dashboard .content .right .infos .panel-s .chart form{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  padding: 1rem;
  background: #f7f7f7;
  border-radius: 5px;
}
.dashboard .content .right .infos .panel-s .chart form input{
  flex: 1;
  background: #f7f7f7;
  border: none;
  outline: none;
}
.dashboard .content .right .infos .panel-s .chart form button{
  background: #f7f7f7;
  border: none;
  outline: none;
  background: #0061f2;
  color:white;
  padding: 0.5rem 1rem;
}
.dashboard .content .right .infos .panel-s .chart .chart-div .message{
  display: flex;
  justify-content: center;align-items: flex-start;
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;
}
.dashboard .content .right .infos .panel-s .chart .chart-div .message.from{
  flex-direction: row-reverse;
}


.dashboard .content .right .cards{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
.dashboard .content .right .cards .part{
  width: 48%;
  display: flex;
  justify-content: space-between;
}
.dashboard .content .right .cards .part .card{
  width: 48.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0061f2;
  border-radius: 5px;
  color: white;

  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.dashboard .content .right .cards .part .card .card-header{
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  flex:1;
}
.dashboard .content .right .cards .part .card .card-body{
  width: 100%;
  background: #005eea;
  border-radius: 5px;
  padding: 1rem;
}
.dashboard .content .right .cards .part .card .card-body a{
  text-decoration: underline;
}

.dashboard .content .right .cards .part .whitecard{
  background: white;
  color:black;
}
.dashboard .content .right .cards .part .whitecard .card-header{
padding: 0;
display: flex;
flex-direction: column;
}
.dashboard .content .right .cards .part .whitecard .card-header p{
  width: 100%;
  color: #0061f2;
  padding: 0.2rem 1rem;
  font-weight: bold;font-size: 1.2rem;
}
.dashboard .content .right .cards .part .whitecard .card-header span{
  padding: 0.2rem 1rem;
  width: 100%;
}
.dashboard .content .right .cards .part .whitecard .card-header .imdutufu{
  width: 100%;
  object-fit: cover;
}
.dashboard .content .right .cards .part .whitecard .card-body{
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  padding: 1rem;
  display: flex;
  margin-top: 1rem;
  justify-content: center;align-items: center;
}
.dashboard .content .right .cards .part .whitecard .card-body a{
  text-decoration:none;
  color: white;
}
.dashboard .content .right .panel .parti table {
  border-collapse: collapse;
  width: 98%;
  padding: 1rem;
  background: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.dashboard .content .right .panel .parti td, th {
  text-align: left;
  padding: 0.8rem;
  border: 1px solid lightgrey;
}
.dashboard .content .right .panel .parti th{
color: #0061f2;
}
.dashboard .content .right .panel .parti .mailer td {
  display: flex;
  justify-content: space-between;
}
.dashboard .content .right .panel .parti .infos .panel-s{
  position: relative;
}
.dashboard .content .right .panel .parti .infos .disabled{
  content: 'L\'option n\'est pas prise';
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;align-items: center;
  text-align: center;
  left: 0;right: 0;bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.dashboard .content .right .panel .parti .infos .grey{
  filter: grayscale(100%);
}
.dashboard .content .right .panel .parti .infos .list{
  width: 98%;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  background: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.dashboard .content .right .panel .parti .infos .account{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.dashboard .content .right .panel .parti .infos .account {
  flex: 1;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}

.dashboard .content .right .panel .parti .infos .account  h4{
  width: 100%;text-align: center;
  font-size: 1.2rem;
  color: #0061f2;
}
.dashboard .content .right .panel .parti .infos .account  input{
  width: 500px;
  border: none;outline:none;
  padding: .5rem;
  margin: 1rem 0;
  background:  #f7f7f7;
  border-radius: 5px;
}
.dashboard .content .right .panel .parti .infos .list button{
  border: none;outline: none;
  width: 250px;
  padding: 1rem;
  border-radius: 40px;
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  color: white;
  text-transform: uppercase;
  margin: 1rem 0;
  font-weight: bold;
}
.dashboard .content .right .panel .parti .infos .list .account  .img-pp{
  display: flex;
  justify-content: flex-start;align-items: center;  width: 500px;

  margin: 1rem 0;
}
.dashboard .content .right .panel .parti .infos .list .account  .img-pp input{
  display: none;
}
.dashboard .content .right .panel .parti .infos .list .account .img-pp label{
background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
margin-left: 10px;
padding: .5rem;border-radius: 10px;
color: white;
}

.dashboard .content .right .panel .parti .infos .list .account  .img-pp img{
  width: 50px;
  border-radius: 100%;
  height: 50px;
  object-fit: cover;
}

/* The Modal (background) */
.dashboard .modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.dashboard .modal-content {
 background-color: #fefefe;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 1rem;
 border: 1px solid #888;
 width: 50%; /* Could be more or less, depending on screen size */
 position: relative;
}

/* The Close Button */
.dashboard .close {
 color: #aaa;
 font-size: 28px;
 margin-right: 2rem;
 font-weight: bold;
 position: absolute;
 top: 0;
 right: 0;
}

.dashboard .close:hover,
.dashboard .close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.dashboard .modal-content .formdufutursamere{
    display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
  width: 500px;
}
.dashboard .modal-content .formdufutursamere img{
  width: 60%;
}
.dashboard .modal-content .formdufutursamere input{
  padding: .5rem;
  width: 100%;
  border:none;outline: none;
  background: #ececec;
  border-radius: 5px;
  margin: .5rem .5rem;
}
.dashboard .modal-content .formdufutursamere .input11{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;align-items: center;
}
.dashboard .modal-content .formdufutursamere .input11 input{
  padding: .5rem;
  flex: 1;
  border:none;outline: none;
  background: #ececec;
  border-radius: 5px;
  margin: .5rem 0;
}
.dashboard .modal-content .formdufutursamere .input11 input:first-child{
  margin-right: 4px;
}
.dashboard .modal-content .formdufutursamere .input11 input:last-child{
  margin-left: 4px;
}
.dashboard .modal-content .formdufutursamere button{
  border: none;outline: none;
  width: 250px;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 40px;
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.dashboard .modal-content .formdufutursamere span{
  font-size: 0.8rem !important;
}
