@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap');

*{
  font-family: 'Baloo 2', cursive;
  margin: 0;padding: 0;
  box-sizing: border-box;
  color: inherit;
}
.mobile{
  display: none;
}
.pc{
  display: flex;
}
.header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 720px;
  /*background: linear-gradient(90deg, #614385, #4e4376);*/
  background: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}
.header .nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  color: white;
}
.header .nav .container{
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .part{
  justify-content: center;
  align-items: center;
}
.header .nav .part .link{
  padding: 0.2rem 1rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  transition: 250ms color;
  display: flex;
  justify-content: center;align-items: center;
}
.header .nav .part .link:hover{
  color: white;
  cursor: pointer;
}
.header .nav .part a.btn{
  color: white !important;
  background: white;
  transition: 250ms background;
  background: #00ba94;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.header .nav .part i{
  font-size: 0.5rem;
  margin-left: 5px;
}
.header .nav .part a.btn:hover{
  cursor: pointer;
  background: #008f72;
}
.header .head{
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  color: white;
  position: relative;
}
.header .head .container{
  display: flex;
  width: 1100px;
  color: white;
  position: relative;
}
.header .head .dropdown{
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  z-index: 5;
  background: linear-gradient(90deg, #1f2d41 , #1f2d41);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .head .dropdown .container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  width: 80%;
}
.header .head .dropdown .container .link{
  padding: 0.5rem 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .head .dropdown .container .link i{
  color: rgba(255, 255, 255, 0.5);
}
.header .head .dropdown .container a.btn{
  color: white !important;
  font-size: 1rem;
  transition: 250ms background;
  background: #00ba94;
  border-radius: 50px;
  padding:  0.5rem 1rem;
  text-transform: uppercase;
  justify-content: center !important;
  font-weight: thin;
}
.header .head .dropdown .container a.btn i{
  color: white;
  margin-left: 5px;
}
.header .head .dropdown .container a.btn:hover{
  cursor: pointer;
  background: #008f72;
}
.header .head .container .part h1{
  font-size: 2.5rem;
}
.header .head .container .part h2 {
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5) !important;
  margin-bottom: 1.5rem;
  width: 80%;
}
.header .head .container .part{
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header .head .container .part:last-child{
  align-items: flex-end;
}
.header .head .container .part .btns{
  width: 100%;
  display: flex;
}
.header .head .container .part .btns .btn-head{
  background: #00ba94;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  margin-right: 5px;
  transition: 250ms background;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .5px
}
.header .head .container .part .btns .btn-head:hover{
  background: #008f72;
  cursor: pointer;
}
.header .head .container .part .btns .btn-head2{
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 400;
  border-radius: 50px;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header .head .container .part .btns .btn-head2:hover{
  text-decoration: underline;
  color: #ececec;
  cursor: pointer;
}
.header .head .container .part img{
  width: 500px;
}

.header .svg{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}
