@media only screen and (max-width: 1024px) {
  .header{
    height: 600px;
  }
  .mobile{
    display: flex !important;
  }
  .pc{
    display: none !important;
  }
  .header .nav{
    background: #1f2d41;
  }
  .header .nav h1{
    font-size: 1.5rem;
  }
  .header .nav .container{
    width: 80%;
  }
  .header .head .container{
    width: 80%;
  }
  .about .container{
    width: 80%;
  }
  .about .container{
    flex-direction: column;
  }
  .websites .container{
    width: 80%;
  }
  .websites .container .content-card .row{
    flex-direction: column;
  }
  .websites .container .content-card .row .website{
    max-width: 100%;
  }
  .websites .container .content-card .row .website img{
    width: 100%;
  }
  .websites .container .content-card .row .website{
    margin: 2rem 0;
  }
  .websites .container .content-card .row .website p{
    font-size: 1.4rem;
  }
  .footer .container{
    width: 80%;
  }
  .footer .container .top{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .container .top .col{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .auth-form .container{
    width: 80%;
  }
  .dashboard .content .right .infos{
    flex-direction: column;
  }
  .dashboard .content .right .infos .panel-s{
    width: 98%;
  }
  .dashboard .content .right .panel .parti{
    margin-top: -2rem !important;
  }
  .dashboard .content .right .infos .panel-s:first-child{
    margin-bottom: 1rem;
  }
  .dashboard .content .right .cards{
    flex-direction: column;
  }
  .dashboard .content .right .cards .part{
    width: 100%;
  }
  .dashboard .content .right .cards .part:first-child{
    margin-bottom: 1rem;
  }
  .dashboard .content .left{
    display: none;
  }

}
